.projects-container{
    margin: 4rem 0;
    position: relative;
}
.projects-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
}
.arrow-right, .arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Optional: Make arrows clickable for navigation */
  }
  
  .material-symbols-outlined {
    font-size: 2rem; /* Adjust font size as needed */
    color: #fff; /* Change color as desired */
  }
  @media(max-width:425px){
    .projects-container h5{
        margin-bottom: 1rem;
    }
  }
  