.skills-container{
    margin:  4rem 0;
    position: relative;

}
.skills-container:after,
.skills-container:before{
    content: " ";
    width: 20rem;
    height: 20rem;
    border-radius: 28rem;
    background: #618ae1;
    position: absolute;
    z-index: -1; 
    filter: blur(180px);
}
.skills-container:after{
    top: -3rem;
    left: -5rem;
}
.skills-container:before{
    bottom: 0rem;
    right: 8rem;
    background: #9e51b9;
}
.skills-container h5{ 
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    text-align: center;
}
.skills-content{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}
.skills{
    flex: 1;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2,1fr);
}
.skills-info{
    flex: 1;
}
@media(max-width:1025px){
    
    .sills,
    .skills-container{
        grid-gap: 2rem;
    }

}
@media(max-width:768px){
   .skills-content{
    flex-direction: column-reverse;
    gap: 3rem;
   }
   .skills,
   .skills-info{
    width: 100%;
  
   }
   .skills-container h5{
    text-align: center;
    font-size: 1.3rem;
   
    margin-bottom: 1rem;
   }
   .skills-container:after,
   .skills-container:before{
    width: 18rem;
    height: 18rem;
   }
}
