.footer {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    
   padding: 3rem;
    background: linear-gradient(99deg,#3d3d72 0%,#423477 100%);
}
@media(max-width:425px){
    
    .footer{
        padding: 1.5rem;
        font-size: 0.6rem;
    }
}